
html *, html {font-family: Tahoma,Verdana,Segoe,sans-serif;}
div.wrapper {width:80%; margin:auto; background-color:#6d9ce1 }

div.wrapper   {margin:10px 50px; min-width:470px; }

div.wrapper form  {width:80%; min-width:470px; margin:0 auto 10px auto ; background-color:#a7bcdb }
div.wrapper form p  {margin:10px 50px; }

input { text-align:center;font-size:26px; cursor:pointer; text-align:center;  margin:auto;  }

input[type=submit] {width:300px; height:50px; line-height:50px; margin:10px auto ;  text-align:center; }

input[type=text] {width:30px; height:50px; line-height:50px}

div.wrapper form div  {margin:0 auto; text-align:center;  }

h1, h2, h3, h4   { text-align:center;  margin:10px auto; }
h1  { height:70px; line-height:70px}
h2  { height:50px; line-height:50px}
h2  { margin:10px auto; padding:0px 0; }

div.notice {border:2px solid #fff; width:60%; font-size:20px; line-height:26px; margin:30px auto; text-align:center;}
p.performed {color:#0c582c; font-weight:800}

div.wrapper form select {margin:auto}
div.wrapper form select,  select option  { width:60%; font-size:20px; line-height:26px; text-align:left;}